<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../static/index.js"></script>
    <script src="../static/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</head>
<body>
  <h1>Hello Jamaica!</h1>
  <table id="form" border=1>
    <tr>
      <th> Answer </th>
      <th> Dice1 </th>
      <th> Dice2 </th>
      <th> Dice3 </th>
      <th> Dice4 </th>
      <th> Dice5 </th>
    </tr>
      <tr>
        <th> <input type="number" name="answer"> </th>
        <th> <input type="number" name="dice1"> </th>
        <th> <input type="number" name="dice2"> </th>
        <th> <input type="number" name="dice3"> </th>
        <th> <input type="number" name="dice4"> </th>
        <th> <input type="number" name="dice5"> </th>
      </tr>
  </table>
  <br>
  <input type="button" value="送信" id="button" class="waves-effect waves-light btn">
  <hr style="background-color: #dddddd; margin: 30px auto; color: green;" />
  <p id="dummy"></p>
</body>
</html>
